.dynamic-form {
  &-list {
    list-style: none;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}