@import '../../assets/variables.scss';

.survey-table {
  border: 1px solid rgba($MenuActive, 0.1);
  display: flex;
  flex-direction: column;
  font-size: 12px;
  &-header {
    width: 100%;
    padding: 12px;
  }
  &-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 167%;
  }
  &-body {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba($MenuActive, 0.1);
    *>div:first-of-type {
      padding: 12px;
      border-bottom: 1px solid rgba($MenuActive, 0.1);
    }
  }
  &-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    &:not(:last-of-type) {
      border-right: 1px solid rgba($MenuActive, 0.1);
    }
    input {
      height: 40px;
    }
  }
}