// COLORS
$White: #fffefe;
$Black: #000000;
$Grey: #d6d5d5;
$Red: #FF155B;
$TextDark: #273154;
$FileInputColor: #F4F2FF;

//DESIGN
$MenuActive: #6d97ea;
$MenuDisabled:#bfd7fc;
$ButtonHover: #88baf7;
$ButtonPressed: #4d7ec2;
$ButtonDisabled: #E9E9E9;
$ButtonSecondaryHover: #6ba5e7;

$BorderColor: #CEC5FD;


$CheckboxBorder: rgba($TextDark, 0.10);
$CheckboxIndeterminate: #DDE8FE;
$CheckboxIconColor: #75baff;
$InputTextColor: #030229;

$StatusBadgeBackground: #C9BFFC;
$StatusBadgeColor: #6ba9e7;
$SecondaryButtonHover: #333D63;
$SecondaryButtonPressed: #030229;

$CardShadowColor: #64abf2;
$SliderShadowColor: #0f0839;

$BadgeTextColor: #969696;

$BadgeTextColor: #969696;

//SHADOWS
$CardShadow: 0px 15px 20px 0px rgba($CardShadowColor, 0.10);
$PopoverShadow:  0px 0px 20px 0px rgba($CardShadowColor, 0.10);